.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1.5rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgba(255, 9, 124, 0.959);
        color: rgba(241, 233, 233, 0.957);
    }

    &:active{
        transform: scale(0.9);
    }
}